:root {
  --color1: #f28ab2;
  --color2: #333638;
  --color3: #f1e6ea;
  --color4: #a3633e;
  --color5: #b38870;
  --color6: #7f3518;
}

.container {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  background-color: var(--color1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.birthday-remainder-card-container {
  background-color: var(--color3);
  width: min(80%, 400px);
  padding: 1.2em;
  border-radius: 8px;
  box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.2);
}
.birthday-remainder-card-container > h1 {
  word-spacing: 2px;
  color: var(--color2);
  font-size: 1.7rem;
  font-weight: 500;
  margin-bottom: 0.9em;
}

/* .list-container {
  border-radius: 18px;
} */

.btn {
  background-color: var(--color1);
  width: 100%;
  border: 0;
  color: var(--color3);
  font-size: 1.4rem;
  font-weight: 500;
  padding: 0.4em;
  border-radius: 4px;
}
